* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 593px;
  background-color: #000;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
}

.header__container {
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding-left: 90px;
  padding-right: 90px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: relative;
}

.logo::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -11px;
  top: 0;
}

.nav__list {
}

.nav__link {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.nav__link:hover {
  opacity: 0.4;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link_special {
  display: inline-block;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.07px;
  text-decoration: none;
  height: 50px;
  background-color: #fff;
  padding: 16px 30px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.nav__link_special:hover {
  opacity: 1;
  background-color: #2f2f2f;
  color: #fff;
}

.header__title-wrapper {
  text-align: center;
  color: #fff;
}

.header__subtitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 25px;
  line-height: 1.3;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  font-weight: 800;
  line-height: 1.3;
}
